/*
PyocinTyper nextflow config
*/

params {
    // General
    help                = null          // Help message
    input_files         = null          // Path to input genbank (.gbff) files
    pt_option           = null          //Specifiy if you are typing multiple pyocins <group> or a single pyocin <individual>
    outdir              = "results"     // Output directory for results

    // Blast cutoffs
    R_pyocin_PID_cutoff = "70"          // Percent identity cutoff for R pyocins
    R_pyocin_NID_cutoff = "70"          // Nucleotide identity cutoff for R pyocins
    F_pyocin_PID_cutoff = "65"          // Percent identity cutoff for F pyocins
    F_pyocin_NID_cutoff = "65"          // Nucleotide identity cutoff for F pyocins

    // Typing cutoffs
    tail_PID_cutoff     = "95"          // Percent identity cutoff for tail fibers
    tail_NID_cutoff     = "95"          // Nucleotide identity cutoff for tail fibers
    
    // Other
    cd_hit_cluster      = "0.70"        // Clustering level for psi-cd-hit

    // Performance
    phispy_threads = "1"               // Specify number of threads for PhiSpy
    blast_threads = "1"                // Specify number of threads for blast
}

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

process {
    conda = './envs/PyocinTyper.yaml'
    cpus = 2
    memory = '4 GB'
    time = '1h'
}

profiles {
    standard {
        process.executor = 'local'
    }
}
    