/*
PyocinTyper nextflow config
*/

params {
    help = null
    input_files = null
    pt_option = null
    outdir = "results"
    R_pyocin_PID_cutoff = "70"
    R_pyocin_NID_cutoff = "70"
    F_pyocin_PID_cutoff = "65"
    F_pyocin_NID_cutoff = "65"
    cd_hit_cluster = "0.70"
    tail_PID_cutoff = "95"
    tail_NID_cutoff = "95"
    phispy_threads = "1"
    blast_threads = "1"
}

conda {
    enabled = true
    strictChannels = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

process {
    cpus = 2
    memory = '4 GB'
    time = '1h'
}

profiles {
    standard {
        process.executor = 'local'
        process.errorStrategy = 'retry'
        process.maxRetries = 3
    }
}
    